<h3 class="spacer1"> Highschools </h3><br/>
<table data-role="table" class="table" id="admin_highschools">
    <thead>
        <tr>
            <th width="80%">Name</th>
            <th>County</th>
        </tr>
    </thead>

    <tbody>
        <% @highschools.each do |highschool| %>
            <tr>
                <td width="80%"><%= link_to highschool.name, admin_highschool_details_path(highschool.id) %> </td>
                <td><%= highschool.county.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        if ( $.fn.dataTable.isDataTable( '#admin_highschools' ) ) {
            table = $('#admin_highschools').DataTable();
        }
        else {
            table = $('#admin_highschools').DataTable( {
              responsive: true
            } );
        }
    });

</script>
