<h4 class="left-aligned"> <b>What is</b> Highschool Assistant? </h4>
<p  class="left-aligned"> Highschool Assistant is a web appication for desktop and mobile.
  It's scope is to predict the admission probability to a specific highschool section. </p>
<h4 class="left-aligned"> <b>How</b> Highschool Assistant works? </h4>
<p  class="left-aligned">It uses a mathematic algorithm based on <i>gauss distribution equation</i>
  and using real data from present and past years, to return the result </p>
<h4 class="left-aligned"> <b>From where</b> is the data that Highschool Assistant uses? </h4>
<p  class="left-aligned">All datas are collected from static.admitere.edu.ro, static.evaluare.edu.ro
  and other subdomains of edu.ro.</p></br>
<p class="left-aligned" style=""><i><b>We don't assume any responsability if the results aren't 100%
  precise, but we are trying to make it better every day!</b></i></p>
