html {
    position: relative;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e3b72+0,738bc7+50,738bc7+69,7eaac4+99,7eaac4+100 */
  background: rgb(46,59,114); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(46,59,114,1) 0%, rgba(115,139,199,1) 50%, rgba(115,139,199,1) 69%, rgba(126,170,196,1) 99%, rgba(126,170,196,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(46,59,114,1) 0%,rgba(115,139,199,1) 50%,rgba(115,139,199,1) 69%,rgba(126,170,196,1) 99%,rgba(126,170,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(46,59,114,1) 0%,rgba(115,139,199,1) 50%,rgba(115,139,199,1) 69%,rgba(126,170,196,1) 99%,rgba(126,170,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3b72', endColorstr='#7eaac4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

main {
    padding-bottom: 54px;
    width: 100%;
    margin-top: 54px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

link{
  color: #fff;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.page-content{
  padding-top: 28px;
  text-align: center;
  height: 100%;
  margin-bottom: auto;
  clear: both;
  max-width: 786px;

}

tr.centered-table-header th{
  text-align: center;
}

tbody.aling-left td{
  text-align: left;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    max-height: 50px;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
}

@media (min-width: 768px){
  .footer {
      height: 50px;
  }
}

.navbar-center {
    clear: both;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 100%;
}

.navbar-copyright{
  margin-top: 5px;
  font-size: 12px;
}

body, .navbar.navbar-fixed-top {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    font-size: 16px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

a, a:hover{
  color: #E0E4A6;
}

.navbar-footer-link{
    color: #fff;
}

@media (min-width: 768px){
    .col-md-12.padding1{
        padding-left: 25%;
        padding-right: 25%;
    }
}

label {
    font-weight: 300;
    font-size: 15px;
    margin-left: 0;
    width: 100%;
    text-align: left;
}

.form-control{
    width: 100%;
}

.message {
    color: red;
}

div.field_with_errors div.ui-effects-wrapper {
    display: inline-block !important;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.spacer1{
    margin-bottom: 15px;
}

.spacer2{
    margin-bottom: 5px;
}

.spacer3{
    margin-top: 15px;
}

.wide-btn{
   width: 70%;
}

.normal-btn{
  width: 40%;
}
