body {
  background-color: #4390df !important;
  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

link{
  color: #fff;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #656;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

// custom

.page-content{
  padding-top: 58px;
  text-align: center;
}
